<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add New Post</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/admin/dashboard">WallMag</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item visually-hidden">
            <a class="nav-link active" href="/admin/dashboard">DASHBOARD
              <span class="visually-hidden"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/admin/profile">PROFILE
              <span class="visually-hidden"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/admin/allposts">POSTS
              <span class="visually-hidden"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/admin/topics">TOPICS
              <span class="visually-hidden"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/admin/slider">SLIDER
              <span class="visually-hidden"></span>
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" href="/auth/logout">LOGOUT
              <span class="visually-hidden"></span>
            </a>
          </li>        
        </ul>
        
      </div>
    </div>
  </nav>
  <br>

</body>
</html>
